body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    margin: 0 auto;
    flex-direction: column;
}
.container {
    text-align: left;
}
h1 {
    color: green;
    background-color: lightgray;
}
p {
    font-family: arial;
    margin-top: 0;
    margin-left: 10px;
}
.row {
    display: flex;
    justify-content: space-between;
}
strong {
    background-color: lightgreen;
    padding: 5px;
}
.year {
    background-color: blue;
    color: white;
    padding: 5px;
}

