.container {
    width: 95%;
    height: 95%;
    max-width: 3840px;
    max-height: 2160px;
    margin: 0 auto;
    position: static;
    transform: none;
    background-color: #f2c9d1;
}
img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}
body {
    width: 100%;
    height: 100%;
    max-width: 3840px;
    max-height: 2160px;
    font-family: 'Arial', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-color: hotpink;
    padding: 30px;
}
.content-wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: #f2c9d1;
}
.top-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.site-header {
    display: block;
    border: 4px solid deeppink;
    border-right: none;
    border-bottom: none;
    padding-left: 20px;
    padding-right: 20px;
}
.main-content {
    width: 80%;
    height: 80%;
    max-width: 3840px;
    max-height: 2160px;
    padding-left: 20px;
    padding-right: 20px;
    border: 4px solid deeppink;
    border-bottom: none;
}
.bottom-block {
    display: flex;
    justify-content: space-evenly;
    border: 4px solid deeppink;
    line-height: .75;
}
h1 {
    font-size: clamp(1.8rem, 4vw, 2.2rem);
    margin-bottom: 15px;
}
h2 {
    font-size: clamp(1.6rem, 3vw, 2rem);
    margin-top: 45px;
    margin-bottom: 15px;
}
.list-header {
    margin-top: 30px;
    margin-bottom: 5px;
}
h3 {
    font-size: clamp(1.4rem, 2vw, 1.8rem);
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1rem;
}
.after-header {
    margin-top: 15px;
}
ul {
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 1.2rem;
}
.pink {
    background-color: lightpink;
}
footer {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
address {
    background-color: #f2c9f9;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

