body {
   font: 10pt monospace;
   width: 400px;
   margin: 0 auto;
}

img {
   width: 160px;
   padding: 2px;
   border: 1px solid gray;
   margin: 5px 10px;
}

p {
   display: flex;
}

.reverse {
   flex-direction: row-reverse;
}

/*
img.floatright {
   float:right;
}

img.floatleft {
   float:left;
}

.nofloats {
   clear: both;
}
*/
